<div class="main-header">
  <div class="content-bg-wrap">
    <div class="content-bg bg-badges"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto col-md-8 col-sm-12 col-xs-12">
        <div class="main-header-content">
          <h1>Collect your Badges!</h1>
          <p>Welcome to your badge collection! Here you’ll find all the badges you can unlock to show on your profile. Learn
            how to achive the goal to adquire them and collect them all. Some have leveled tiers and other don’t. You can
            challenge your friends to see who gets more and let the fun begin!
          </p>
        </div>
      </div>
    </div>
  </div>

  <img class="img-bottom" src="../../../../../assets/img/badges-bottom.png" alt="friends">
</div>