<div class="main-header">
  <div class="content-bg-wrap">
    <div class="content-bg bg-group"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto col-md-8 col-sm-12 col-xs-12">
        <div class="main-header-content">
          <h1>Stats and Analytics</h1>
          <p>Welcome to your stats and analytics dashboard! Here you’l see all your profile stats like: visits, new friends,
            average comments, likes, social media reach, annual graphs, and much more!
          </p>
        </div>
      </div>
    </div>
  </div>

  <img class="img-bottom" src="../../../../../assets/img/statistics-bottom.png" alt="friends">
</div>