<!-- Main Header Birthday -->

<div class="main-header">
  <div class="content-bg-wrap">
    <div class="content-bg bg-birthday"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto col-md-8 col-sm-12 col-xs-12">
        <div class="main-header-content">
          <h1>Never Miss a Birthday!</h1>
          <p>Welcome to your friends birthdays page! Here you’ll find all your friends birthdays so you’ll never mis one again!
            In addition, the dates are automatically saved to your calendar to let you know, but you also have a “Create
            Event” button in case you wanna organize a party or event on that especific date.
          </p>
        </div>
      </div>
    </div>
  </div>

  <img class="img-bottom" src="../../../../../assets/img/birthdays-bottom.png" alt="friends">
</div>

<!-- ... end Main Header Birthday -->