<div class="header-spacer"></div>
<app-profilesetting-header></app-profilesetting-header>

<!-- Your Account Personal Information -->

<div class="container">
  <div class="row">
    <div class="col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Your Education History</h6>
        </div>
        <div class="ui-block-content">
          <form>
            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Title or Place</label>
                  <input class="form-control" placeholder="" type="text" value="The New College of Design">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Period of Time</label>
                  <input class="form-control" placeholder="" type="text" value="2001 - 2006">
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" placeholder="">Bachelor of Interactive Design in the New College. It was a five years intensive career. Average: A+
								</textarea>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Title or Place</label>
                  <input class="form-control" placeholder="" type="text" value="Rembrandt Institute">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Period of Time</label>
                  <input class="form-control" placeholder="" type="text" value="2008">
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" placeholder="">Five months Digital Illustration course. Professor: Leonardo Stagg.
								</textarea>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Title or Place</label>
                  <input class="form-control" placeholder="" type="text">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Period of Time</label>
                  <input class="form-control" placeholder="" type="text">
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" placeholder="">
								</textarea>
                </div>

                <a href="#" class="add-field">
                  <svg class="olymp-plus-icon">
                    <use xlink:href="../../../../../assets/icons/icons.svg#olymp-plus-icon"></use>
                  </svg>
                  <span>Add Education Field</span>
                </a>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <button class="btn btn-secondary btn-lg full-width">Cancel</button>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <button class="btn btn-primary btn-lg full-width">Save all Changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Your Employement History</h6>
        </div>
        <div class="ui-block-content">
          <form>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Title or Place</label>
                  <input class="form-control" placeholder="" type="text" value="Digital Design Intern">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Period of Time</label>
                  <input class="form-control" placeholder="" type="text" value="2006 - 2008">
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" placeholder="">Digital Design Intern for the “Multimedz” agency. Was in charge of the communication with the clients.
								</textarea>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Title or Place</label>
                  <input class="form-control" placeholder="" type="text" value="UI/UX Designer">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Period of Time</label>
                  <input class="form-control" placeholder="" type="text" value="2008 - 2013">
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group label-floating">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" placeholder="">UI/UX Designer for the “Daydreams” agency.
								</textarea>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Title or Place</label>
                  <input class="form-control" placeholder="" type="text">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Period of Time</label>
                  <input class="form-control" placeholder="" type="text">
                </div>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Description</label>
                  <textarea class="form-control" placeholder="">
								</textarea>
                </div>

                <a href="#" class="add-field">
                  <svg class="olymp-plus-icon">
                    <use xlink:href="../../../../../assets/icons/icons.svg#olymp-plus-icon"></use>
                  </svg>
                  <span>Add Education Field</span>
                </a>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <button class="btn btn-secondary btn-lg full-width">Cancel</button>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <button class="btn btn-primary btn-lg full-width">Save all Changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12 responsive-display-none">
      <div class="ui-block">
        <div class="your-profile">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">Your PROFILE</h6>
          </div>

          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Profile Settings
                    <svg class="olymp-dropdown-arrow-icon">
                      <use xlink:href="../../../../../assets/icons/icons.svg#olymp-dropdown-arrow-icon"></use>
                    </svg>
                  </a>
                </h6>
              </div>

              <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                <ul class="your-profile-menu">
                  <li>
                    <a routerLink="/dashboard/profilepage/setting/personalinfo">Personal Information</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/profilepage/setting/personalsetting">Account Settings</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/profilepage/setting/changepassword">Change Password</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/profilepage/setting/hobbies">Hobbies and Interests</a>
                  </li>
                  <li>
                    <a routerLink="/dashboard/profilepage/setting/history">Education and Employement</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="ui-block-title">
            <a routerLink="/dashboard/profilepage/setting/notification" class="h6 title">Notifications</a>
            <a href="#" class="items-round-little bg-primary">8</a>
          </div>
          <div class="ui-block-title">
            <a routerLink="/dashboard/profilepage/setting/chat" class="h6 title">Chat / Messages</a>
          </div>
          <div class="ui-block-title">
            <a routerLink="/dashboard/profilepage/setting/friendrequest" class="h6 title">Friend Requests</a>
            <a href="#" class="items-round-little bg-blue">4</a>
          </div>
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">FAVOURITE PAGE</h6>
          </div>
          <div class="ui-block-title">
            <a routerLink="/dashboard/profilepage/setting/favpage" class="h6 title">Create Fav Page</a>
          </div>
          <div class="ui-block-title">
            <a routerLink="/dashboard/profilepage/setting/favsetting" class="h6 title">Fav Page Settings</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ... end Your Account Personal Information -->


<!-- Window-popup-CHAT for responsive min-width: 768px -->

<div class="ui-block popup-chat popup-chat-responsive">
  <div class="ui-block-title">
    <span class="icon-status online"></span>
    <h6 class="title">Chat</h6>
    <div class="more">
      <svg class="olymp-three-dots-icon">
        <use xlink:href="../../../../../assets/icons/icons.svg#olymp-three-dots-icon"></use>
      </svg>
      <svg class="olymp-little-delete js-chat-open">
        <use xlink:href="../../../../../assets/icons/icons.svg#olymp-little-delete"></use>
      </svg>
    </div>
  </div>
  <div class="mCustomScrollbar">
    <ul class="notification-list chat-message chat-message-field">
      <li>
        <div class="author-thumb">
          <img src="../../../../../assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
        </div>
        <div class="notification-event">
          <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the
            drinks</span>
          <span class="notification-date">
            <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time>
          </span>
        </div>
      </li>

      <li>
        <div class="author-thumb">
          <img src="../../../../../assets/img/author-page.jpg" alt="author" class="mCS_img_loaded">
        </div>
        <div class="notification-event">
          <span class="chat-message-item">Don’t worry Mathilda!</span>
          <span class="chat-message-item">I already bought everything</span>
          <span class="notification-date">
            <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time>
          </span>
        </div>
      </li>

      <li>
        <div class="author-thumb">
          <img src="../../../../../assets/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
        </div>
        <div class="notification-event">
          <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the
            drinks</span>
          <span class="notification-date">
            <time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time>
          </span>
        </div>
      </li>
    </ul>
  </div>

  <form>

    <div class="form-group label-floating is-empty">
      <label class="control-label">Press enter to post...</label>
      <textarea class="form-control" placeholder=""></textarea>
      <div class="add-options-message">
        <a href="#" class="options-message">
          <svg class="olymp-computer-icon">
            <use xlink:href="../../../../../assets/icons/icons.svg#olymp-computer-icon"></use>
          </svg>
        </a>
        <div class="options-message smile-block">

          <svg class="olymp-happy-sticker-icon">
            <use xlink:href="../../../../../assets/icons/icons.svg#olymp-happy-sticker-icon"></use>
          </svg>

          <ul class="more-dropdown more-with-triangle triangle-bottom-right">
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat1.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat2.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat3.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat4.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat5.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat6.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat7.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat8.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat9.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat10.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat11.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat12.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat13.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat14.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat15.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat16.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat17.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat18.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat19.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat20.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat21.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat22.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat23.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat24.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat25.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat26.png" alt="icon">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../../../../../assets/img/icon-chat27.png" alt="icon">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </form>


</div>

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->


<a class="back-to-top" href="#">
  <img src="../../../../../assets/icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>